<div>
	<div class='modal-header'>
		<h3>Disease Configuration</h3>
	</div>
	<div class = 'modal-body'>
		<label for='exposure'>Exposure</label>
		<input type='number' name='exposure' value='0' ng-model='Disease.exposureRate'>%
		<label for='infection'>Infection</label>
		<input type='number' name='infection' value='0' ng-model='Disease.infectionRate'>Days
		<label for='exposure'>Mortality</label>
		<input type='number' name='mortality' value='0' ng-model='Disease.mortalityRate'>Days
		<label for='exposure'>Recovery</label>
		<input type='number' name='recovery' value='0' ng-model='Disease.recoveryRate'>Days
	</div>
	<div class='modal-footer'>
		<button class="btn btn-primary" ng-click="ok()">OK</button>
	</div>
</div>