<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
	<div class='container'>
		<a href='#' class='navbar-brand'>Disease Spread Simulator</a>
		<div class='navbar-right'>
			<button type='button' class='btn btn-default navbar-btn navbar-left'>Help</button>
		</div>
	</div>
</nav>

<div class='container main-container'>
	<div class='row'>
		<div data-regions-map class='col-md-8'></div>
		<div data-region-watch watch='Watch' class='col-md-4'></div>
	</div>
	<div class='row'>
		<div data-app-controls class='col-md-8'></div>
	</div>
	<div class='row'>
		<div data-region-list regions='regions'></div>
	</div>
</div>
