<div class='item-container map-container'>
	<div class='item-header'>
		<span class='header-text'>Region Map</span>
		<div class='header-icons'>
			<span class='header-icon'>?</span>
		</div> 
	</div>
	<object id='map' type='image/svg+xml' data='../resources/map.svg'>
		Map of the United States.
	</object>
	<div class='map-region-preview hidden'>
		<span class='name'></span>
		<div class='map-preview-item'>
			<span class='header-label'>Population:</span><span class='total-pop'></span><br>
			<span class='label'>Adults:</span><span class='adult-pop'></span><br>
			<span class='label'>Minors:</span><span class='minor-pop'></span>
		</div>
		<div class='map-preview-item'>
			<span class='header-label'>Susceptible:</span><span class='total-sus'></span><br>
			<span class='label'>Adults:</span><span class='adult-sus'></span><br>
			<span class='label'>Minors:</span><span class='minor-sus'></span>
		</div>
		<div class='map-preview-item'>
			<span class='header-label'>Exposed:</span><span class='total-exp'></span><br>
			<span class='label'>Adults:</span><span class='adult-exp'></span><br>
			<span class='label'>Minors:</span><span class='minor-exp'></span>
		</div>
		<div class='map-preview-item'>
			<span class='header-label'>Infected:</span><span class='total-inf'></span><br>
			<span class='label'>Adults:</span><span class='adult-inf'></span><br>
			<span class='label'>Minors:</span><span class='minor-inf'></span>
		</div>
		<div class='map-preview-item'>
			<span class='header-label'>Recovered:</span><span class='total-rec'></span><br>
			<span class='label'>Adults:</span><span class='adult-rec'></span><br>
			<span class='label'>Minors:</span><span class='minor-rec'></span>
		</div>
		<div class='map-preview-item'>
			<span class='header-label'>Deceased:</span><span class='total-dec'></span><br>
			<span class='label'>Adults:</span><span class='adult-dec'></span><br>
			<span class='label'>Minors:</span><span class='minor-dec'></span>
		</div>
	</div>
</div>