<div>
	<div class='modal-header'>
		<h3>{{region.name}}</h3>
	</div>
	<div class = 'modal-body'>
		<tabset justified='true'>
			<tab heading='Configuration'>
				<h4>Travel Rates (People/Day)</h4>
				<div class='travel-config'>
					<div class='pull-left'>
						<h5>Incoming:</h5>
						<div class='travel-container' ng-repeat='(name,incoming) in region.currentState.travelRates.incoming'>
							<label class='travel-label'>{{name}}</label>
							<input class='travel-input' type='number' ng-model='region.currentState.travelRates.incoming[name]' value='{{incoming}}'/>
						</div>
					</div>
					<div class='pull-right'>
						<h5>Outgoing:</h5>
						<div class='travel-container' ng-repeat='(name,outgoing) in region.currentState.travelRates.outgoing'>
							<label class='travel-label'>{{name}} </label>
							<input class='travel-input' type='number' ng-model='region.currentState.travelRates.outgoing[name]' value='{{outgoing}}'/>
						</div>
					</div>
				</div>
				<h4>Contact Rates (People/Day)</h4>
				<label>Adult to Adult</label>
				<input type='number' ng-model='region.currentState.contactRates.adult.adult' value='{{region.currentState.contactRate.adults.adults}}' />
				<label>Adult to Minor</label>
				<input type='number' ng-model='region.currentState.contactRates.adult.minor' value='{{region.currentState.contactRate.adults.minors}}'/>
				<label>Minor to Minor</label>
				<input type='number' ng-model='region.currentState.contactRates.minor.minor' value='{{region.currentState.contactRate.minors.minors}}' />
			</tab>
			<tab heading='Report'>
				<h4>Population</h4>
				<div class='pop-container'>
					<div class='pop-item {{value.cls}}' ng-repeat='(key, value) in region.chartsData.popup.population'>
						<h5>{{value.title}}</h5>
						<div class='report-legend'>
							<div ng-repeat='d in value.data'>
								<div class='report-key' ng-style='{background: d.color}'>
									<span class='key-name'>{{d.name}}</span>
									<span class='key-value'>{{d.value}}</span>
									<span class='key-perc'>{{d.perc}}%</span>
								</div>
							</div>
						</div>
						<canvas 
							class='report-chart'
							piechart
							options='value.options'
							data='value.data'
							width='100'
							height='100'
						></canvas>
					</div>
				</div>
				<h4>Trend</h4>
				<div class='trend-container'>
					<div class='trend-item {{value.cls}}' ng-repeat='(key, value) in region.chartsData.popup.trends'>
						<h5>{{value.title}}</h5>
						<canvas
							class='report-chart'
							linechart
							options='value.options'
							data='value'
							width='500'
							height='500'
						>
						</canvas>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
	<div class='modal-footer'>
		<button class="btn btn-primary" ng-click="ok()">Close</button>
	</div>
</div>